.ui{
  height: 100vh;

}
.content
{
  background: var(--app-light);
}

header{
  background: var(--app-primary-dark);
}
aside{
  background: var(--app-primary);
  }
  nav{
    width: 250px;

  }
  footer {
    background: var(--app-darklight);
    color: var(--app-dark);
    text-align:center;
  }
